*
  box-sizing: border-box
body
  margin: 0
  padding: 0
.width
  &-container
    max-width: 1290px
    width: 98%
    margin: 0 auto

.container
  max-width: 1170px
  width: 98%
  margin: 0 auto
.section
  &-title
    font-size: 36px
    font-weight: 900
    text-align: center
    color: #000000
.section
  &-subtitle
    font-size: 18px
    text-align: center
